body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}

footer {
    background: #343434;
    color: #cccccc;
    padding: 0px 20px 70px 20px;
    display: flex;
    align-items: center;
}

.bold {
    font-weight: 700;
}

.text-ss{
    font-size: 14px;
}

.text-s{
    font-size: 15px;
}


ul li {
    margin-bottom: 15px;
}

ul.small-list li {
    margin-bottom: 5px;
}

h1,
h2,
h3,
h5 {
    font-family: 'Bitter';
}

h5 {
    font-weight: 600;
}

img {
    max-width: 100%;
}

.page-title {
    text-align: center;
}

.header {
    padding: 10px 0;
    border-bottom: solid 1px #cfcfcf;
    box-shadow: 2px 6px 12px 1px rgba(61, 61, 61, 0.1);
}

main {
    padding: 40px 0 80px 0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-height: 32px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: right;
}

.footer-nav {
    background: #fafafa;
    border: solid 1px #cfcfcf;
    padding: 14px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;

    box-shadow: -2px -4px 5px 0px rgba(61, 61, 61, 0.1);
}

.chart-maturity {
    width: 100%;
    /* height: 300px; */
    height: 200px;
    display: flex;
    align-items: flex-end;
}

.chart-maturity .bar {
    position: relative;
    background: #cfcfcf;
    width:25%;
    height: 100%;
    /* border: solid 1px #000; */
    margin: 0 4px;
    border-radius: 8px 8px 0 0;
    cursor: pointer;
}
    .bar-selector {
        position: absolute;
        bottom: -30px;
        left: 0;
        width: 100%;
        height: 20px;
        text-align: center;
        line-height: 120%;
        display: none;
    }

    .bar:hover .bar-selector {
        display: block;
    }

    .bar.selected .bar-selector {
        display: block;
    }

    .bar-score {
        position: absolute;
        top: -90px;
        left: 30%;
        font-size: 14px;
        font-weight: 700;
    }

    .bar-score img {
        max-width: 50px;
    }

    .bar-label {
        position: absolute;
        bottom: 15px;
        left: 15px;
        text-transform: uppercase;
        color: #ffffff;
        font-weight: 700;
        font-size: 16px;
        line-height: 120%;
    }

    .bar.bar-1 {
        /* height: 40%; */
        height: 40%;
        background: rgba(255,167,0, 1);
    }

    .bar.bar-2 {
        /* height: 55%; */
        height: 40%;
        background: rgba(215,56,16,1);
    }

    .bar.bar-3 {
        /* height: 70%; */
        height: 40%;
        background: rgba(154,59,152,1);
    }

    .bar.bar-4 {
        /* height: 85%; */
        height: 40%;
        background: rgba(0,127,194,1);
    }

    .bar.bar-5 {
        /* height: 100%; */
        height: 40%;
        background: rgba(90,157,40,1);
    }

.bell-curve {
    /* background: #cfcfcf; */
    width: 100%;
    height: 200px;
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
}
    .bell-line {
        width: 1px;
        position: absolute;
        height: 100%;
        left: 10px;
        bottom:0;
    }
    .bell-industry {
        border-left: dotted 4px blue;
        left: 50%;
    }
    .bell-perception {
        border-left: dotted 4px green;
        left: 60%;
    }
    .bell-score {
        border-left: solid 4px red;
        left: 40%;
    }
    .bell-curve span {
        position:absolute;
        bottom: -45px;
        left: -10px;
        line-height: 120%;
        font-size: 13px;
    }

    .bell-curve .bell-score span {
        left: auto;
        right: 0px;
    }

    .bell-curve .bell-industry span {
        bottom: auto;
        left: -20px;
        top: -40px;
    }

    .bell-curve img {
        height: 100%;
    }

.slider {
    display: flex;
}
.slider > div {
    flex: 1;
}
.recommend {
    display: none;
}


    input[type=range] {
    height: 38px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
    }
    input[type=range]:focus {
    outline: none;
    }
    input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000;
    background: #3071A9;
    border-radius: 5px;
    border: 1px solid #000000;
    }
    input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 30px;
    width: 15px;
    border-radius: 5px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -11px;
    }
    input[type=range]:focus::-webkit-slider-runnable-track {
    background: #3071A9;
    }
    input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000;
    background: #3071A9;
    border-radius: 5px;
    border: 1px solid #000000;
    }
    input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 30px;
    width: 15px;
    border-radius: 5px;
    background: #FFFFFF;
    cursor: pointer;
    }
    input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
    }
    input[type=range]::-ms-fill-lower {
    background: #3071A9;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000000;
    }
    input[type=range]::-ms-fill-upper {
    background: #3071A9;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000000;
    }
    input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 30px;
    width: 15px;
    border-radius: 5px;
    background: #FFFFFF;
    cursor: pointer;
    }
    input[type=range]:focus::-ms-fill-lower {
    background: #3071A9;
    }
    input[type=range]:focus::-ms-fill-upper {
    background: #3071A9;
    }
  

.action-card {
    min-height: 520px;
}

.action-card .card-body {
    display:flex;
    flex-direction: column;
}